{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToMeet</title>
    <link rel="stylesheet" href="{% static 'homework/styles/meeting.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>

<body>
    <section>

        <div class="create_container">
            <form action="{% url 'add-meeting' %}" method="POST">
                {% csrf_token %}
                <div class="input_container">
                    <input class="create_input" type="text" placeholder="С кем нужно встретиться" name="todo_persone" required/>
                    <input class="create_input" type="text" placeholder="Номер телефона" name="meeting_phone" required/>
                    <input class="create_input" type="datetime-local" name="meeting_date" required/>
                </div>
                <input class="create_input" type="text" placeholder="Комментарий" name="meeting_comment" required/>
                <button class="create_button">Добавить</button>
            </form>
        </div>

        <div class="todo_container">

            {% for tomeet in tomeet_list %}
            <div class="todo_item
            {% if tomeet.is_closed %}
                done
            {% elif tomeet.is_favorite %}
                marked
            {% endif %}
            ">
                <div>

                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox" 
                            {% if tomeet.is_closed %}
                                checked
                            {% endif %}
                            />
                            <span class="checkmark"></span>
                        </label>
                        <h4><a href="{% url 'close-to-meet' tomeet.id %}">{{ tomeet.persone }}</a></h4>
                    </div>
                    <div class="todo_item_phone_number">
                        <p>контакт: {{ tomeet.phone_number }}</p>
                    </div>
                </div>
                <div class="todo_item_comment">
                    <p>{{ tomeet.comment }}</p>
                </div>
                <div class="todo_item_footer">
                    <p class="paleText">{{ tomeet.date_of_meeting }}</p>

                    <div class="action_buttons">
                        {% if tomeet.is_favorite %}
                        <a href="{% url 'unmark-to-meet' tomeet.id %}"><img src="{% static './icons/marked.png' %}"></a>
                        {% else %}
                        <a href="{% url 'mark-to-meet' tomeet.id %}"><img src="{% static './icons/unmarked.png' %}"></a>
                        {% endif %}
                        <a href="{% url 'delete-to-meet' tomeet.id %}"><img src="{% static './icons/delete.png' %}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</body>

</html>